body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  display: flex;
  margin: 0;
}

.container #left {
  width: 80%;
}

.container #right {
  width: 20%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}



#button-form {
  margin-top: 30px;
  display: block;
}

#button-form button {
  padding: 15px 20px;
}

#button-form a {
  text-decoration: none;
  color: inherit
}

#reset-counter button {
  padding: 10px 30px;
}

#reset-counter a {
  text-decoration: none;
  color: inherit;
}